@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .redirect-box p {
        font-size: 18px;
    }

    .footer {
        padding: 40px 0;
    }

   
}

@media (max-width: 767px) {
    #course-show-slider a {
        font-size: 13px;
    }

    .career-feature a {
        font-size: 14px;
    }

    .career-card-title p {
        font-size: 16px;
    }

    .testimonial-box h3 {
        font-size: 22px;
    }

    .testimonial-box a {
        padding: 9px 36px;
    }

    .redirect-box {
        text-align: center;
    }

    .redirect-img {
        max-width: 60%;
        margin: 0 auto 24px;
        display: block;
    }

    .lets-start.p-4 {
        padding: 36px 0 !important;
    }

    .redirect-box p {
        font-size: 16px;
    }

    .footer {
        padding: 36px 0;
    }
}

@media (max-width: 575px) {
    .section_header p {
        font-size: 16px;
    }

    .section_header h2 {
        font-size: 24px;
    }

    .section_header {
        margin-bottom: 32px;
    }

    .view_all_btn {
        padding: 9px 32px;
    }

    section.pt-70 {
        padding-top: 46px;
    }

    section.pb-70 {
        padding-bottom: 46px;
    }

    .testimonial-box h3 {
        font-size: 18px;
    }

    .video-icon-box {
        width: 50px;
        height: 50px;
        font-size: 16px;
        margin-bottom: 36px;
    }

    .video-icon-box:after {
        width: 85px;
        height: 85px;
    }

    .video-icon-box:before {
        width: 65px;
        height: 65px;
    }

    .testimonial-box a {
        padding: 8px 28px;
    }

    .redirect-img {
        max-width: 85%;
    }

    .redirect-box p {
        max-width: 90%;
        text-align: center;
        margin: auto;
    }
    .footer{
        text-align: center;
    }
    .footer-icons {
        justify-content: center;
    }

}

@media (max-width: 480px) {}


@media screen and (min-width: 767.99px) and (max-width:990.99px) {
    .step-icon {
        width: 100px;
        height: 100px;
        font-size: 28px;
        margin-bottom: 16px;
    }

    .step-icon span {
        width: 40px;
        height: 40px;
        font-size: 15px;
        transform: translate(10px, -10px);
    }

    .step-info h4 {
        font-size: 18px;
    }

    .step-info p {
        font-size: 14px;
    }
}